body{
    display: block;
    margin: 8px;
}
img[Attritubes="Style"]{
width: 351px;
aspect-ratio: auto 351/113;
height: 113px;
}



img{
        overflow-clip-margin: content-box;
        overflow: clip;
        text-align:-webkit-center ;
}

.center{
    display: block;
    text-align: -webkit-center;
}
div {
    font-size:medium;
}
div input{
    font-size: medium;
}
p{
    font-size: medium;
}
